/* Container central do Componente CardBrand */
.container-cardbrand{
    width: 100%;
    background: linear-gradient(#f7a156, #858585);
    background-size: cover;
}

/* Contaienr que limita os itens */
.container-limitador-cardbrand{
    max-width: 50%;
    max-height: 100%;
    padding: 7% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-limitador-cardbrand img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 40px;
}

/* Container do título */
.container-titulo-cardbrand{
    background-color: rgb(194, 194, 194);
    position: absolute;
    right: 5%;
}
.container-titulo-cardbrand h1{
    font-size: 36px;
    color: black;
}

@media (max-width: 1200px){
    .container-limitador-cardbrand{
        max-width: 70%;
        
    }
    .container-limitador-cardbrand img{
        max-width: 80%;
    }
}

@media (max-width: 950px){
    .container-limitador-cardbrand{
        max-width: 80%;
    }
    .container-limitador-cardbrand img{
        max-width: 70%;
    }
}

@media (max-width: 650px){
    .container-limitador-cardbrand{
        max-width: 500px;
        height: 400px;
    }
    .container-limitador-cardbrand img{
        max-width: 70%;
    }
}

@media (max-width: 550px){
    .container-limitador-cardbrand{
        max-width: 100%;
    }
    .container-limitador-cardbrand img{
        max-width: 350px;
    }
    .container-titulo-cardbrand{
        background-color: rgb(194, 194, 194);
        position: absolute;
        right: 10%;
        
    }
    .container-titulo-cardbrand h1{
        font-size: 20px;
    }
}

@media (max-width: 450px){
    .container-limitador-cardbrand{
        max-width: 100%;
    }
    .container-limitador-cardbrand img{
        max-width: 300px;
    }
    .container-titulo-cardbrand{
        right: 10%;
    }
    .container-titulo-cardbrand h1{
        font-size: 18px;
    }
}